{% extends 'base.html' %}

{% block title %}Drinks{% endblock %}

{% block content %}
    <main class="flow-container">
        <h1 class="page-title">Drinks!</h1>
        <ul class="drink-list">
            {% for drink in object_list %}
            <li class="drink-list__item">
                <a class="drink-list__link" href="{% url 'drink-detail' drink.slug %}">
                    {{ drink.name }}
                </a>

                {% if drink.description %}
                <p class="drink-list__description">{{ drink.description }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
